

h3 {
    padding-top: 15px;
}


.item {
    background-color: #7E9DB3;
    border: 0;
    border-radius: 10px;
    justify-content: space-between;
    width: 25%;
    float: left;
    margin: 10px 5px;
}

.item p {
    color: white;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.values {
    margin-top: 10%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.values p {
    font-size: 20px;
}

.input-value {
    background-color: #EEEEEE;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    width: 20%;
}

.btn-solve {
    background-color: #7E9DB3;
    border: 0;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    background: #4B5989;
}


.container {
    font-family: Avenir Next LT Pro;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh;
    grid-gap: 10px;
}

.items-container {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.resolution {
    font-family: Avenir Next LT Pro;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh;
    grid-gap: 10px;
}

.result-items {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.result-values {
    margin-top: 100px;
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.result-values p{
    font-size: 25px
}
