@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">


        <div class="body-style">
            @Body
        </div>
    </div>
</div>
